.logo {
    width: 10rem;
}

.icona {
    width: 4rem;
}

@media screen and (max-width: 600px) {
    .logo {
        width: 7rem;
    }
}
/* 
.card-wrapper {
    overflow-x: scroll;
    display: flex;
} */

.card {
    margin: auto;
}